mixin textField(params={title: [], placeholder: "textField", type: "", textValue: "", inputType:"text"})
  -let {title, placeholder, type, textValue, inputType} = params;
  .text-field

    case type
      when "subscription"
        if title[0] != null
          h3.text-field__title=title[0]
        .text-field__subscription
          input(type=inputType class="text-field__input text-field_subscription"  placeholder=placeholder)
          input(type="submit" value="arrow_forward" class = "text-field__submit material-icons md-purple")
      
      when "date"
        .text-field__date
          .text-field__date__item
            if title[0] != null
              h3.text-field__title=title[0]
            input(type=inputType class="text-field__input text-field_date datepicker-here start_one" data-range="true" placeholder=placeholder)
          .text-field__date__item
            if title[1] != null
              h3.text-field__title=title[1]
            input(type=inputType class="text-field__input text-field_date end_one"  placeholder=placeholder)
      
      when "filterDate"
        if title[0] != null
          h3.text-field__title=title[0]
        input(type=inputType class="text-field__input text-field_filter-date datepicker-here" data-range="true" placeholder=placeholder )
      
      when "masked-date"
        if title[0] != null
          h3.text-field__title=title[0]
        input(type=inputType class="text-field__input text-field_masked-date js-text-field_masked-date" placeholder = placeholder==undefind ? "ДД.ММ.ГГГГ" : placeholder)

      default
        if title[0] != null
          h3.text-field__title=title[0]
        input(type=inputType class="text-field__input"  placeholder=placeholder value=textValue)

      

