mixin btn (text = "Click Me", type = "fillButton",link="#")
  case type
    when "labelButton"
      button.btn.btn_label(href=link)
        span=text
    when "borderButton"
      button.btn.btn_border(href=link)
        span=text
    when "fillButton"
      button.btn.btn_fill(href=link)
        span=text
    when "arrowButton"
      button.btn.btn_fill.bnt_arrow(href=link)
        span=text