mixin dropdown(name="Dropdown", params = [], paramsCount = [])

  -let titles = ['Взрослые', 'Дети', 'Младенцы'];
  -let clearButtonLabel="Очистить";
  -let applyButtonLabel="Применить";

  .dropdown
    h3.dropdown__title=name
    .dropdown__label
      .dropdown__label__text
      .dropdown__label__arrow
        i.material-icons.md-24 expand_more
    .dropdown__menu
      -for(let i = 0;i<3;i++)
        .dropdown__item
          .dropdown__item__label=params[i].title
          .dropdown__item__edit
            a.dropdown__item__change="-"
            .dropdown__item__value=paramsCount[i]
            a.dropdown__item__change="+"
      .dropdown__item
        .dropdown__btn_clear=clearButtonLabel
        .dropdown__btn_apply=applyButtonLabel